/* Content Styles */

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.navbar.navbar-henry, .navbar.navbar-henry .navbar-brand {
    font-family: 'Chicle', cursive;
    font-size: 4rem;
    color: $white;
}
.navbar.navbar-henry {
    background-color: $brand-purple;
}

body {
    padding: 0;

    &.diamonds {
        background: url('../images/purple-diamonds.jpg') repeat center center;
    }
    &.bubbles {
        background: url('../images/purple_bubbles.jpg') no-repeat center center;
        background-size: cover;
    }
    &.horizon {
        background: url('../images/purple_horizon.png') no-repeat center center;
        background-size: cover;
    }
    &.motes {
        background: url('../images/purple_motes.jpg') no-repeat center center;
        background-size: cover;
    }
    &.wallpaper {
        background: url('../images/purple_wallpaper.jpg') no-repeat center center;
        background-size: cover;
    }
}

.linklist {
    padding-left: 0;

    li {
        width: 33%;
        min-height: 200px;
        display: inline-block;
        list-style-type: none;
        text-align: center;
        margin: 1rem 0;


        a {
            display: inline-block;
            width: 100%;
            height: 100%;
            min-height: 200px;
            background: url('http://placehold.it/200/200') center center no-repeat;
            background-color: transparent;
            background-size: contain;
            transition: all 0.5s ease;
            text-indent: 1000px;
            white-space: nowrap;
            overflow: hidden;

            &.pbskids {
                background-image: url('../images/pbskids.jpg');
            }
            &.gdocs {
                background-image: url('../images/gdocs.jpg');
            }
            &.admin1 {
                background-image: url('../images/dashboard.png');
            }
            &.ngkids {
                background-image: url('../images/ngkids.jpg');
            }
            &.discokids {
                background-image: url('../images/discokids.png');
            }
            &.gmaps {
                background-image: url('../images/gmaps.png');
            }
            &.earth {
                background-image: url('../images/earth.jpg');
            }
            &.wunderground {
                background-image: url('../images/wunderground.png');
            }
            &.nasa {
                background-image: url('../images/nasa.png');
            }
            &.astronomypod {
                background-image: url('../images/astronomypod.jpg');
            }
            &.sprout {
                background-image: url('../images/sprout.jpg');
            }


            &:hover, &:focus {
                z-index: 42;
                transform: scale(1.05,1.05);
            }
        }
    }
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}