<div class="jumbotron">
  <h1>Quick Links</h1>
  <ul id="quicklinks" class="linklist">
    <li>
      <h2><a href="http://pbskids.org">PBS Kids</a></h2>
      <p><a href="http://pbskids.org"><img src="http://placehold.it/200/200"></a></p>
    </li>
    <li>
      <h2><a href="http://pbskids.org">PBS Kids</a></h2>
      <p><a href="http://pbskids.org"><img src="http://placehold.it/200/200"></a></p>
    </li>
    <li>
      <h2><a href="http://pbskids.org">PBS Kids</a></h2>
      <p><a href="http://pbskids.org"><img src="http://placehold.it/200/200"></a></p>
    </li>
  </ul>
</div>


