<ul id="quicklinks" class="linklist">
  <li>
    <a href="http://pbskids.org" class="pbskids">PBS Kids</a>
  </li>
  <li>
    <a href="http://kids.nationalgeographic.com/" class="ngkids">National Geographic Kids</a>
  </li>
  <li>
    <a href="http://discoverykids.com/" class="discokids">Discovery Kids</a>
  </li>
  <li>
    <a href="http://sproutonline.com/?redirect=false" class="sprout">Sprout Online</a>
  </li>
  <li>
    <a href="http://google.com/maps" class="gmaps">Google Maps</a>
  </li>
  <li>
    <a href="https://apod.nasa.gov/apod/random_apod.html" class="astronomypod">Astronomy POD</a>
  </li>
  <li>
    <a href="https://earth.nullschool.net/#current/wind/surface/level/orthographic=-105.70,33.90,319" class="earth">Earth Wind & Waves</a>
  </li>
  <li>
    <a href="https://www.wunderground.com/" class="wunderground">Weather Underground</a>
  </li>
  <li>
    <a href="https://www.nasa.gov/kidsclub/" class="nasa">NASA</a>
  </li>
  <li>
    <a href="https://docs.google.com" class="gdocs">Google Docs</a>
  </li>
  <li>
    <a href="admin1/" class="admin1">Admin 1 Dashboard</a>
  </li>
  <li>
    <a href="http://www.masswerk.at/JavaPac/JS-PacMan2.html" class="pacman">Pac man</a>
  </li>
</ul>


